a {
	color: #fff;
}
.bg-light {
	background-color: #FDFBFD !important;
}

.navbar-light .navbar-toggler {
	color: #0D1C2E;
	border: 0;
}
button:focus {
	outline: 0;
}
.card {
	max-width: 540px;
}

.navbar-light .navbar-nav .nav-link {
	color:#000;
}

a:hover {
    color: #0056b3;
    text-decoration:none !important;
}

.card {
	border: 0;
	background: transparent;
}
.payment-btn {
	font-size: 0.75rem;
	width: 140px;
}
.btn-primary {
	border: 0;
	width: 122px;
	border-radius: 40px;
	font-size: 0.75rem;
	background: #80A3FF;
}

.btn-outline-primary {
	color: #000;
	width: 155px;
	border-radius: 40px;
	font-size: 0.75rem;
}
.btn-outline-primary:hover {
	cursor: pointer;
	color: #fff !important;
}
.form-check-input {
	margin-top: 0.2rem;
}

p {
	line-height: 1.3;
}