.bg-light {
	background-color: #FDFBFD !important;
}

.navbar-light .navbar-toggler {
	color: #0D1C2E;
	border: 0;
}
button:focus {
	outline: 0;
}
.card {
	max-width: 540px;
}

.navbar-light .navbar-nav .nav-link {
	color:#000;
}

a:hover {
    color: #0056b3;
    text-decoration:none !important;
}

